{% load i18n static %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}" xml:lang="{{ LANGUAGE_CODE }}" lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>{% if site_name %}{{ site_name }} : {% endif %}{% block head_title %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static "bootstrap/dist/css/bootstrap.css" %}" type="text/css" media="screen">
        <link rel='stylesheet' type='text/css' href='{% static  'fullcalendar/dist/fullcalendar.min.css' %}' />
        <link rel='stylesheet' type='text/css' href='{% static  '@chenfengyuan/datepicker/dist/datepicker.min.css' %}' />
        <link href="https://fonts.googleapis.com/css?family=Nova+Flat" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Amatic+SC:700" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
        <link rel="stylesheet" href="{% static "css/style.css" %}" type="text/css" media="screen">
        <link rel='stylesheet' type='text/css' href='{% static  'timepicker/dist/jquery.timepicker.css' %}' />
        {% block extra_head %}
        {% endblock %}
    </head>

    <body id="body">
    <div class="wrapper">

        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-light-primary elevation-4">
        <!-- Sidebar -->
        <div class="sidebar">
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            </ul>
        </nav>
        </div>
        </aside>

        <div class="content-wrapper">
        <div class="content-header">
        <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">{{calendar.name}}</h1>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- <asp:ScriptManager ID="ScriptManager1" EnablePartialRendering="true" runat="server"></asp:ScriptManager> -->
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row" >
            <!-- SEARCH WEEKEND FEATURE -->
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                          <div class="col-md-3">
                            <div class="card">
                              <div class="card-header">
                                <h4 class="card-title">Calendriers Disponibles</h4>
                              </div>
                              <div class="card-body">
                                <!-- the events -->
                                <div id="external-events">
                                    {% for cal in object_list %}
                                    <li>
                                        <b>
                                            <input type="checkbox" class="checkbox" id="input{{cal.id}}" value="{% url "workshopevent-list" %}?calendar_id={{cal.id}}">
                                            <label>
                                                {{ cal }}
                                            </label>
                                        </b>
                                    </li>
                                    {% endfor %}
                                  </div>
                                </div>
                              </div>
                              <!-- /.card-body -->
                            </div>
                            <!-- /. box -->

                            <div class="col-md-9">
                              <div class="card card-primary">
                                <div class="card-body p-0">
                                  <!-- THE CALENDAR -->
                                  <div id="calendar"></div>
                                </div>
                                <!-- /.card-body -->
                              </div>
                              <!-- /. box -->
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include "fullcalendar_modal.html" %}

        <script type="text/javascript" src="{% static "jquery/dist/jquery.js" %}"></script>
        <script type="text/javascript" src="{% static "bootstrap/dist/js/bootstrap.js" %}"></script>
        <script type='text/javascript' src='{% static 'moment/min/moment-with-locales.min.js' %}'></script>
        <script type='text/javascript' src='{% static 'timepicker/dist/jquery.timepicker.min.js' %}'></script>
        <script type='text/javascript' src='{% static 'fullcalendar/dist/fullcalendar.min.js' %}'></script>
        <script type='text/javascript' src='{% static '@chenfengyuan/datepicker/dist/datepicker.min.js' %}'></script>
        <script type='text/javascript' src='{% static '@chenfengyuan/datepicker/i18n/datepicker.fr-FR.js' %}'></script>
        <script type='text/javascript'>
            $(document).ready(function(){
                function getFormData($form){
                    var unindexed_array = $form.serializeArray();
                    var indexed_array = {};
                    $.each(unindexed_array, function(i, input){
                        if(indexed_array.hasOwnProperty(input.name)){
                            if(!Array.isArray(indexed_array[input.name])){
                                indexed_array[input.name] = [indexed_array[input.name]];
                            }
                            indexed_array[input.name].push(input.value);
                        } else {
                            indexed_array[input.name] = input.value;
                        }
                    });
                    console.log(indexed_array);

                    return indexed_array;
                }

                function getCookie(name) {
                    var cookieValue = null;
                    if (document.cookie && document.cookie != '') {
                        var cookies = document.cookie.split(';');
                        for (var i = 0; i < cookies.length; i++) {
                            var cookie = jQuery.trim(cookies[i]);
                            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                break;
                            }
                        }
                    }
                    return cookieValue;
                }
                var csrftoken = getCookie('csrftoken');

                function csrfSafeMethod(method) {
                    // these HTTP methods do not require CSRF protection
                    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
                }
                $.ajaxSetup({
                    beforeSend: function(xhr, settings) {
                        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                        }
                    }
                });

                var date = new Date();
                var d = date.getDate();
                var m = date.getMonth();
                var y = date.getFullYear();

                var calendar = $('#calendar').fullCalendar('getCalendar');

                 $('[data-toggle="datepicker"]').datepicker({
                    language: 'fr-FR',
                    container : "#createModal",
                })
                $('#startDate, #endDate').datepicker({language: 'fr-FR'});

                $('#calendar').fullCalendar({
                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'month,agendaWeek,agendaDay'
                    },
                    timezone: 'local',
                    scrollTime: '08:00',
                    businessHours: {
                        start: '8:00',
                        end: '18:00',
                    },
                    selectable: true,
                    editable: true,
                    eventLimit: true,
                    droppable: true,
                    selectHelper: true,
                    eventDataTransform(eventData){
                        return {
                            title : eventData.event.title,
                            start : eventData.event.start,
                            end : eventData.event.end,
                            room : eventData.room,
                            equipment : eventData.equipment,
                            animator : eventData.animator,
                            color : eventData.event.color_event,
                            creator : eventData.event.creator,
                            description : eventData.event.description,
                        }
                    },
                    select: function(start, end, jsEvent, view) {

                        $('#startTime, #endTime').timepicker({
                            'showDuration': true,
                            'timeFormat': 'g:ia'
                        });

                        $('#startTime, #endTime').timepicker();
                        $('#startDate, #endDate').datepicker("setDate", start.toDate());

                        $.get("{% url 'api-room-list' %}", function(data){
                            $('#room').empty();
                            $.each(data, function(i, room){
                                // console.log(room);
                                $('#room').append($(`<option value=${room.id}>${room.location}</option>`))
                            })
                        });

                        $.get("{% url 'api-equipment-list' %}", function(data){
                            $('#equipment').empty();
                            $.each(data, function(i, equipment){
                                $('#equipment').append($(`<option value=${equipment.id}>${equipment.name}</option>`))
                            })
                        });

                        $('#createModal').modal('show');
                        return false;
                    },
                    eventClick: function(event, jsEvent, view) {
                        $('#modalTitle').html(event.title);
                        $("#modalStart").html(moment(event.start).format('D MMM h:mm'));
                        $("#modalEnd").html(moment(event.end).format('D MMM h:mm'));
                        $('#modalContent').html(event.description);
                        $('#modalRoom').html(event.room.map(function(e){
                            return e.location
                        }).join(", "));
                        $('#modalEquipment').html(event.equipment.map(function(e){
                            return e.name
                        }).join(", "));
                        $('#modalAnimator').html(event.animator);
                        $('#eventUrl').attr('href', event.url);
                        // $("#btnDeleteEvent").html(event);
                        $('#fullCalModal').modal();
                    },
                })
                $(".checkbox").on('change',function() {
                    $('#calendar').fullCalendar( 'removeEventSources')
                    $(".checkbox:checked").each(function(i, checkbox){
                        $('#calendar').fullCalendar( 'addEventSource', $(this).val() )
                    })
                    $('#calendar').fullCalendar( 'refetchEvents' )
                });

                $('#createModal').on('shown.bs.modal', function (e) {
                    console.log($("#createEventForm"));
                    $("#createEventForm").off("submit").submit(function(){
                      var formData = getFormData($(this))

                      if(!formData.startTime){
                          formData.startTime = "0:01"
                      }
                      if(!formData.endTime){
                          formData.endTime = "23:59"
                      }
                      if(!Array.isArray(formData.equipment)){
                          formData.equipment = [formData.equipment]
                      }
                      if(!Array.isArray(formData.room)){
                          formData.room = [formData.room]
                      }
                      start = moment(`${formData.startDate} ${formData.startTime}`, "DD/MM/YYYY HH:mm")
                      end = moment(`${formData.endDate} ${formData.endTime}`, "DD/MM/YYYY HH:mm")
                      $.ajax({
                          type: 'POST',
                          url: "{% url 'workshopevent-list' %}",
                          dataType: 'json',
                          contentType: "application/json; charset=utf-8",
                          data: JSON.stringify({
                              event : {
                                  title : formData.title,
                                  description : formData.description,
                                  start : start.format("YYYY-MM-DDTHH:mm"),
                                  end : end.format("YYYY-MM-DDTHH:mm"),
                                  calendar : formData.calendar,
                              },
                              room : formData.room,
                              equipment : formData.equipment,
                              // animator : formaData.animator,
                          }) ,
                          success: function(result) {
                              $('#createModal').modal('hide');
                              $('#calendar').fullCalendar('refetchEvents');
                          },
                      });
                      return false;
                    })
                  });
                })
        </script>
    </body>
</html>
