{% load i18n %}

<div id="eventContent" title="Event Details">
        <div id="eventInfo"></div>
</div>

<div id="fullCalModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" id="deleteEvent" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only">close</span></button>
                <h4 id="modalTitle" class="modal-title"></h4>
            </div>
            <div id="modalBody" class="modal-body">
                <div id="modalStart" ></div>
                <div id="modalEnd" ></div>
                <div id="eventContent"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary"><a id="eventUrl" target="_blank">Event Page</a></button>
                <!-- <form action="update/" method="get">
                  <input type="submit" class='fc fc-header fc-button fc-button-today fc-state-default fc-corner-left fc-corner-right' value="edit event">
                </form> -->
            </div>
        </div>
    </div>
</div>

<div id="createModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only">close</span></button>
                <h4 id="createTitle" class="modal-title">New Event</h4>
            </div>
                <div class="modal-body">
                    <form id="createEventForm">
                        <div class="form-group">
                            <label for="newEventTitle">Title</label>
                            <input type="text" id="newEventTitle" class="form-control" name="title" />
                        </div>
                        <div class="form-group">
                            <label for="newEventDescription">Description</label>
                            <input type="text" id="newEventDescription" class="form-control" name="description" />
                        </div>
                        <div class="form-group">
                            <label for="startDate">Date debut</label>
                            <input type="text" id="startDate" class="form-control" name="startDate" />
                        </div>
                        <div class="form-group">
                            <label for="startTime">Heure debut</label>
                            <input type="text" id="startTime" class="form-control" name="startTime" />
                        </div>
                        <div class="form-group">
                            <label for="endDate">Date fin</label>
                            <input type="text" id="endDate" class="form-control" name="endDate" />
                        </div>
                        <div class="form-group">
                            <label for="endTime">Heure fin</label>
                            <input type="text" id="endTime" class="form-control" name="endTime" />
                        </div>
                        <div class="modal-footer">
                            <button type="submit" id="createEventSubmitButton" class="btn btn-default" data-dismiss="modal">Save</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        </div>
                    </form>
                </div>
        </div>
    </div>
</div>
