{% load scheduletags i18n static %}


<style media="screen">
    .datepicker-container.datepicker-dropdown.datepicker-top-left {
        z-index: 2048 !important;
    }
    /* .datepicker-dropdown{
        z-index: 2048;
    }
    .datepicker-top-left{
        z-index: 2048;
    } */
</style>

<link rel='stylesheet' type='text/css' href='{% static  'fullcalendar/dist/fullcalendar.min.css' %}' />
<link rel='stylesheet' type='text/css' href='{% static  '@chenfengyuan/datepicker/dist/datepicker.min.css' %}' />
<script type='text/javascript' src='{% static 'moment/min/moment-with-locales.min.js' %}'></script>
<!-- <link rel='stylesheet' type='text/css' href='{% static  'timepicker/dist/jquery.timepicker.css' %}' /> -->
<!-- <script type='text/javascript' src='{% static 'timepicker/dist/jquery.timepicker.min.js' %}'></script> -->
<script type='text/javascript' src='{% static 'fullcalendar/dist/fullcalendar.min.js' %}'></script>
<script type='text/javascript' src='{% static '@chenfengyuan/datepicker/dist/datepicker.min.js' %}'></script>
<script type='text/javascript'>
    $(document).ready(function() {

        $(function() {
            function getFormData($form){
                var unindexed_array = $form.serializeArray();
                var indexed_array = {};

                $.map(unindexed_array, function(n, i){
                    indexed_array[n['name']] = n['value'];
                });

                return indexed_array;
            }
            function getEventViewURL(event) {
                if (event.existed) {
                    if ("{{ request.get_full_path }}".indexOf("/admin") != 0) {
                        var view_url = "{% url 'occurrence' 12345 6789 %}".replace(/12345/, event.event_id).replace(/6789/, event.id);
                    } else {
                        var view_url = "{% url 'admin:schedule_occurrence_change' 12345 %}".replace(/12345/, event.id)
                    }
                } else {
                    if ("{{ request.get_full_path }}".indexOf("/admin") != 0) {
                        var view_url = "{% url 'event' 12345 %}".replace(/12345/, event.event_id);
                    } else {
                        var view_url = "{% url 'admin:schedule_event_change' 12345 %}".replace(/12345/, event.event_id)
                    }
                }
                return view_url;
            }

            function setModalProperties(type, event) {
                if (type == 'edit') {
                    var tYPE = '{% trans "Edit" %}';
                    var all_url = "{% url 'edit_event' calendar_slug 12345 %}".replace(/12345/, event.event_id);
                    if (event.existed) {
                        var this_url = "{% url 'edit_occurrence' 12345 6789 %}".replace(/12345/, event.event_id).replace(/6789/, event.id);
                    } else {
                        var this_url = "{% url 'edit_occurrence_by_date' 123 234 345 456 567 678 789 %}".replace(
                            /123/, event.event_id).replace(
                            /234/, event.year).replace(
                            /345/, event.month).replace(
                            /456/, event.day).replace(
                            /567/, event.hour).replace(
                            /678/, event.minute).replace(
                            /789/, event.second);
                    }
                } else if (type == 'delete') {
                    var tYPE = '{% trans "Delete" %}';
                    var all_url = "{% url 'delete_event' 12345 %}".replace(/12345/, event.event_id);
                    if (event.existed) {
                        var this_url = "{% url 'cancel_occurrence' 12345 6789 %}".replace(/12345/, event.event_id).replace(/6789/, event.id);
                    } else {
                        var this_url = "{% url 'cancel_occurrence_by_date' 123 234 345 456 567 678 789 %}".replace(
                            /123/, event.event_id).replace(
                            /234/, event.year).replace(
                            /345/, event.month).replace(
                            /456/, event.day).replace(
                            /567/, event.hour).replace(
                            /678/, event.minute).replace(
                            /789/, event.second);
                    }
                }

                $('#allevent').attr('href', all_url);
                $('#thisevent').attr('href', this_url);
                $('#editordelete').html(type);
                $('#EditorDelete').html(tYPE);
            }

            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            var csrftoken = getCookie('csrftoken');

            function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }
            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });

            var date = new Date();
            var d = date.getDate();
            var m = date.getMonth();
            var y = date.getFullYear();

            var calendar = $('#calendar').fullCalendar('getCalendar');

             $('[data-toggle="datepicker"]').datepicker({
                container : "#createModal",
            })
                $('#startDate, #endDate').datepicker();
                $('#startDate, #endDate').datepicker("setDate", new Date());

            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                timezone: 'local',
                scrollTime: '08:00',
                businessHours: {
                    start: '8:00',
                    end: '18:00',
                },
                selectable: true,
                editable: true,
                eventLimit: true,
                droppable: true,
                editable: true,
                selectHelper: true,
                eventSources : [{
                    url : "{% url 'workshopevent-list' %}"
                }],
                eventDataTransform(eventData){
                    return {
                        title : eventData.event.title,
                        start : eventData.event.start,
                        end : eventData.event.end,
                        room : eventData.room,
                        gear : eventData.gear,
                        color : eventData.event.color_event,
                        creator : eventData.event.creator,
                        description : eventData.event.description,
                    }
                },
                loading: function(bool) {
                    if (bool) {
                        $('#loading').show();
                    }else{
                        $('#loading').hide();
                    }
                },

                eventDrop: function(event, delta, revertFunc) {
                    $.ajax({
                        type: 'POST',
                        url: "{% url 'api_move_or_resize' %}",
                        dataType: 'json',
                        data: {
                            'id': event.id,
                            'event_id': event.event_id,
                            'existed': event.existed,
                            'delta': delta.asMinutes(),
                        },
                        success: function(result) {
                            if (result.success) $('#feedback input').attr('value', '');
                            $('#calendar').fullCalendar('refetchEvents');
                        },
                    });
                    return false;
                },
                eventResize: function(event, delta, revertFunc) {
                    $.ajax({
                        type: 'POST',
                        url: "{% url 'api_move_or_resize' %}",
                        dataType: 'json',
                        data: {
                            'id': event.id,
                            'event_id': event.event_id,
                            'existed': event.existed,
                            'delta': delta.asMinutes(),
                            'resize': true,
                        },
                        success: function(result) {
                            if (result.success) $('#feedback input').attr('value', '');
                            $('#calendar').fullCalendar('refetchEvents');
                        },
                    });
                    return false;
                },

                select: function(start, end, jsEvent, view) {

                    // $('#startTime, #endTime').timepicker({
                    //     'showDuration': true,
                    //     'timeFormat': 'g:ia'
                    // });

                    // $('#startTime, #endTime').datepair();


                    $('#createModal').modal('show');

                    $("#createEventForm").submit(function(){
                        var formData = getFormData($(this))
                        $.ajax({
                            type: 'POST',
                            url: "{% url 'workshopevent-list' %}",
                            dataType: 'json',
                            contentType: "application/json; charset=utf-8",
                            data: JSON.stringify({
                                event : {
                                    title : formData.title,
                                    description : formData.description,
                                    start :formData.startDate,
                                    end :formData.endDate,
                                    calendar : {{calendar.id}},
                                },
                                room : "DTC", //formData.room,
                                gear : "sextoy",//formData.gear
                            }) ,
                            success: function(result) {
                                $('#createModal').modal('hide');
                                $('#calendar').fullCalendar('refetchEvents');
                                // $("#startDate, #endDate").datepicker(moment(event.start, event.end));
                            },
                        });
                        return false;
                    })
                    $('#calendar').fullCalendar('unselect');
                    return false;
                },
                eventRender: function(event, element) {
                   element.find(".fc-bg").css("pointer-events","none");
                   element.append("<div style='position:absolute;bottom:0px;right:0px' ><button type='button' id='btnDeleteEvent' class='close'><span aria-hidden='true'>&times;</span></button></div>" );
                   element.find("#btnDeleteEvent").click(function(){
                        $('#calendar').fullCalendar('removeEvents',event._id);
                       });
                   },
                eventClick: function(event, jsEvent, view) {
                    $('#modalTitle').html(event.title);
                    $("#modalStart").html(moment(event.start).format('D MMM h:mm'));
                    $("#modalEnd").html(moment(event.end).format('D MMM h:mm'));
                    $('#modalContent').html(event.description);
                    $('#modalRoom').html(event.room);
                    $('#modalGear').html(event.gear);
                    $('#eventUrl').attr('href', event.url);
                    $('#fullCalModal').modal();
                },

            });

        });
    });
</script>
