{% load scheduletags i18n static %}


<script type='text/javascript'>
    $(document).ready(function() {

        $(function() {
            function getFormData($form){
                var unindexed_array = $form.serializeArray();
                var indexed_array = {};
                $.each(unindexed_array, function(i, input){
                    if(indexed_array.hasOwnProperty(input.name)){
                        if(!Array.isArray(indexed_array[input.name])){
                            indexed_array[input.name] = [indexed_array[input.name]];
                        }
                        indexed_array[input.name].push(input.value);
                    } else {
                        indexed_array[input.name] = input.value;
                    }
                });
                console.log(indexed_array);

                return indexed_array;
            }
            function getEventViewURL(event) {
                if (event.existed) {
                    if ("{{ request.get_full_path }}".indexOf("/admin") != 0) {
                        var view_url = "{% url 'occurrence' 12345 6789 %}".replace(/12345/, event.event_id).replace(/6789/, event.id);
                    } else {
                        var view_url = "{% url 'admin:schedule_occurrence_change' 12345 %}".replace(/12345/, event.id)
                    }
                } else {
                    if ("{{ request.get_full_path }}".indexOf("/admin") != 0) {
                        var view_url = "{% url 'event' 12345 %}".replace(/12345/, event.event_id);
                    } else {
                        var view_url = "{% url 'admin:schedule_event_change' 12345 %}".replace(/12345/, event.event_id)
                    }
                }
                return view_url;
            }

            function setModalProperties(type, event) {
                if (type == 'edit') {
                    var tYPE = '{% trans "Edit" %}';
                    var all_url = "{% url 'edit_event' calendar_slug 12345 %}".replace(/12345/, event.event_id);
                    if (event.existed) {
                        var this_url = "{% url 'edit_occurrence' 12345 6789 %}".replace(/12345/, event.event_id).replace(/6789/, event.id);
                    } else {
                        var this_url = "{% url 'edit_occurrence_by_date' 123 234 345 456 567 678 789 %}".replace(
                            /123/, event.event_id).replace(
                            /234/, event.year).replace(
                            /345/, event.month).replace(
                            /456/, event.day).replace(
                            /567/, event.hour).replace(
                            /678/, event.minute).replace(
                            /789/, event.second);
                    }
                } else if (type == 'delete') {
                    var tYPE = '{% trans "Delete" %}';
                    var all_url = "{% url 'delete_event' 12345 %}".replace(/12345/, event.event_id);
                    if (event.existed) {
                        var this_url = "{% url 'cancel_occurrence' 12345 6789 %}".replace(/12345/, event.event_id).replace(/6789/, event.id);
                    } else {
                        var this_url = "{% url 'cancel_occurrence_by_date' 123 234 345 456 567 678 789 %}".replace(
                            /123/, event.event_id).replace(
                            /234/, event.year).replace(
                            /345/, event.month).replace(
                            /456/, event.day).replace(
                            /567/, event.hour).replace(
                            /678/, event.minute).replace(
                            /789/, event.second);
                    }
                }

                $('#allevent').attr('href', all_url);
                $('#thisevent').attr('href', this_url);
                $('#editordelete').html(type);
                $('#EditorDelete').html(tYPE);
            }



            var date = new Date();
            var d = date.getDate();
            var m = date.getMonth();
            var y = date.getFullYear();

            var calendar = $('#calendar').fullCalendar('getCalendar');

             $('[data-toggle="datepicker"]').datepicker({
                language: 'fr-FR',
                container : "#createModal",
            })
            $('#startDate, #endDate').datepicker({language: 'fr-FR'});


            $('#calendar').fullCalendar(
                // eventSources : [{
                //     url : "{% url 'workshopevent-list' %}"
                // }],

                loading: function(bool) {
                    if (bool) {
                        $('#loading').show();
                    }else{
                        $('#loading').hide();
                    }
                },

                eventDrop: function(event, delta, revertFunc) {
                    $.ajax({
                        type: 'POST',
                        url: "{% url 'api_move_or_resize' %}",
                        dataType: 'json',
                        data: {
                            'id': event.id,
                            'event_id': event.event_id,
                            'existed': event.existed,
                            'delta': delta.asMinutes(),
                        },
                        success: function(result) {
                            if (result.success) $('#feedback input').attr('value', '');
                            $('#calendar').fullCalendar('refetchEvents');
                        },
                    });
                    return false;
                },
                eventResize: function(event, delta, revertFunc) {
                    $.ajax({
                        type: 'POST',
                        url: "{% url 'api_move_or_resize' %}",
                        dataType: 'json',
                        data: {
                            'id': event.id,
                            'event_id': event.event_id,
                            'existed': event.existed,
                            'delta': delta.asMinutes(),
                            'resize': true,
                        },
                        success: function(result) {
                            if (result.success) $('#feedback input').attr('value', '');
                            $('#calendar').fullCalendar('refetchEvents');
                        },
                    });
                    return false;
                },


            });
        });
    });
</script>
