{% load i18n %} {% load static %}
<div id="eventContent" title="Event Details">
    <div id="eventInfo"></div>
</div>


<div id="fullCalModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="container modal-header">
                <div class="row">
                    <div class="form-group col-6">
                        <a id="modalTitle" class="modal-title"></a>
                    </div>
                    <div class="form-group col-6">
                        <button type="button" class="close" aria-label="Close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
            <div id="modalBody" class="modal-body">
                <div id="eventContent" class="modal-body">
                    <div class="row">
                        <div class="form-group col-12">
                            <label for="Description">Description :</label>
                            <a id="modalContent"></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-6">
                            <label for="startDate">Debut <i class="far fa-calendar-alt"></i> :</label>
                            <a id="modalStart"></a>
                        </div>
                        <div class="form-group col-6">
                            <label for="startTime">Debut <i class="far fa-clock"></i> :</label>
                            <a id="startTimeUpdate"></a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-6">
                            <label for="endDate">Fin <i class="far fa-calendar-alt"></i> :</label>
                            <a id="modalEnd"></a>
                        </div>
                        <div class="form-group col-6">
                            <label for="endTime">Fin <i class="far fa-clock"></i> :</label>
                            <a id="endTimeUpdate" ></a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-6">
                            <label for="room">Lieu :</label>
                            <div id="modalRoom" multiple></div>
                        </div>
                        <div class="form-group col-6">
                            <label for="equipment">Equipement :</label>
                            <div id="modalEquipment" multiple></div>
                        </div>
                    </div>
                    <!-- <h4>Animateur : </h4>
                    <div id="modalAnimator"></div> -->
                </div>
            </div>
            <div class="modal-footer">
                <!-- <button type="submit" id="updateEventSubmitButton" class="btn btn-2">Enregistrer</button> -->
                <button id="btnDeleteEvent" class="btn btn-2">Supprimer</button>
            </div>
        </div>
    </div>
</div>

<div id="createModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="container modal-header">
                <div class="row">
                    <div class="form-group col-6">
                        <h4 id="createTitle" class="modal-title"> Création Evenement</h4>
                    </div>
                    <div class="form-group col-6">
                        <button type="button" class="close" aria-label="Close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="container modal-body">
                <form id="createEventForm" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="newEventTitle">Titre :</label>
                        <input type="text" id="newEventTitle" class="form-control" name="title" />
                    </div>
                    <div class="form-group">
                        <label for="newEventDescription">Description :</label>
                        <input type="text" id="newEventDescription" class="form-control" name="description" />
                    </div>
                    <div class="row">
                        <div class="form-group col-12">
                            <label for="calendar">Calendar :</label>
                            <select id="calendar" name="calendar">
                                {% for cal in object_list %}
                                <option value="{{cal.id}}" {% if forloop.first%}selected{%endif%}>{{cal.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-6">
                            <label for="startDate">Debut <i class="far fa-calendar-alt"></i> :</label>
                            <input type="text" id="startDate" class="form-control" name="startDate" data-toggle="datepicker" />
                        </div>
                        <div class="form-group col-6">
                            <label for="startTime">Debut <i class="far fa-clock"></i> :</label>
                            <input type="text" id="startTime" class="form-control" name="startTime" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-6">
                            <label for="endDate">Fin <i class="far fa-calendar-alt"></i> :</label>
                            <input type="text" id="endDate" class="form-control" name="endDate" data-toggle="datepicker" />
                        </div>
                        <div class="form-group col-6">
                            <label for="endTime">Fin <i class="far fa-clock"></i> :</label>
                            <input type="text" id="endTime" class="form-control" name="endTime" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-6" id="createRoom">
                            <label for="room">Lieu :</label>
                            <select id="room" multiple name="room"></select>
                        </div>
                        <div class="form-group col-6" id="createEquipment">
                            <label for="equipment">Equipement :</label>
                            <select id="equipment" multiple name="equipment"></select>
                        </div>
                    </div>
                </div>

            <div class="modal-footer">
                <button type="submit" id="createEventSubmitButton" class="btn btn-2">Créer</button>
            </div>
            </form>
        </div>
    </div>
</div>
